<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
footer {
  padding: 0;
  background-color: black;
  margin: 0;
  color: #ffffff;
}


p {
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

/* .container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
} */
  </style>
</head>

<footer>

 

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>
            Developed by Uday </p>
        </div>
      </div>
    </div>
  </div>
</footer>


</html>
